.table-generic {
    width: 50%;
    border: 1px solid black;
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 90px;
    background: white;

    &__container {
        overflow: scroll;
        box-sizing: border-box;
        height: 100%;
    }
}