.headcontrol_column {
    &__name {
        padding: 0 3px;
        border: 1px solid black;

        &.is-selected {
            background: #0080007a;
        }
    }

    &.is-open &__name {
        border-bottom: 1px solid black;
    }

    &__child {
        margin-left: 5px;
    }

}