.parts {
    max-width: 800px;
    margin: 0 auto;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__part {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid black;

        &-name {
            font-size: 18px;
            width: 100%;
            text-align: center;
        }

        img {
            max-width: 200px;
        }
    }
}