.table-control-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #62dfff;
    height: 90px;

    &__empty {
        height: 90px;
        visibility: hidden;
    }

    &.is-fixed {
        position: fixed;
        width: inherit;
        bottom: 0;
    }

    &__top {
        display: flex;
        gap: 10px;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    &__center {
        gap: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }
}